body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/*nav section start*/
.nav_text a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.nav_color{
    color: yellow;
}
nav{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(tomato,rgb(209, 91, 22));
}

.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
    
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    
}
.menu ul li a:hover{
    border-bottom: 3px solid white;
      
}

/* header section start*/
.header_section{
   display: flex;  
   height: 900px; 
  
}
.header_section p{
    color: gray;
    margin-bottom: 60px;
}
.big_heading_text{
    font-size: 60px;
    color: rgb(83, 75, 75);
    font-weight: 600;
}
.orange_color{
    color: orange;
}
.head_text{
    margin-top: 90px;
    margin-left: 100px;
}
.half_header{
    width: 50%;
}
.head_img{
    height: 700px;
}

.btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(tomato,rgb(209, 91, 22));
    padding: 20px 40px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 1s;
}
.btn:hover{
    opacity: 3;
    color: black;
}

/*about section start*/
.about_img{
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.about_section{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.heading{
    font-size: 50px;
    color: rgb(83, 75, 75);
}
.about_text{
    width: 70%;
    margin-bottom: 100px;
}

/*recipe section start*/
.recipe_section{
    margin-top: 90px;
}
.recipe_heading{
    text-align: center;
}
.recipe_main_section{
    display: flex;   
    
}
.recipe_heading_text{
    font-size: 30px;
}
.recipe_img{
    width: 20%;   
    margin: 20px auto;   
    padding: 23px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.recipe_img img{
    height: 230px;  
}
.recipe_text{
    width: 300px;
    margin-bottom: 30px;
}

/*customer review section start*/
.customer_review_section{
    margin-top: 50px;
}
.customer_review_container{
    display: flex;
}
.customer_img{    
    width: 20%;   
    margin: 30px auto;   
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.customer_img img{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.customer_text{
    margin-top: 20px;
    width: 300px;
}

/*followe section start*/
.follower_main_section{
    display: flex;
    text-align: center;
    margin: 70px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
    border-radius: 15px;

}

.follower_rating{
    width: 20%;
    margin-left: 150px;

}

/*footer sectiong start*/

.footer{
    background-color:rgba(0, 0, 0, 0.877);
    text-align: center;
    height: 200px;
}

.footer_head{
    color: gray;
    padding-top: 30px;
}

.footer_text{
    color: gray;
    font-size: 15px;
}