body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* header section start*/
.header_section{
   display: flex;   
}
.header_section p{
    color: gray;
    margin-bottom: 60px;
}
.big_heading_text{
    font-size: 60px;
    color: rgb(83, 75, 75);
    font-weight: 600;
}
.orange_color{
    color: orange;
}
.head_text{
    margin-top: 90px;
    margin-left: 100px;
}
.half_header{
    width: 50%;
}
.head_img{
    height: 700px;
}

.btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(tomato,rgb(209, 91, 22));
    padding: 20px 40px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 1s;
}
.btn:hover{
    opacity: 3;
    color: black;
}